{% extends "admin/change_form.html" %}
{% load i18n %}
{% load staticfiles %}

{% block after_field_sets %}

    <div class="chart-container" style="display: flex">
        <div id="quantity" style="width: 50vw">
            <canvas id="quantityChart"></canvas>
        </div>

        <div id="price" style="width: 50vw">
            <canvas id="priceChart"></canvas>
        </div>

        <div id="sell" style="width: 50vw">
            <canvas id="sellChart"></canvas>
        </div>
    </div>
    <script type="text/javascript" src="{% static "chart/js/Chart.min.js" %}"></script>
    <script type="text/javascript">
        var qctx = document.getElementById('quantityChart').getContext("2d");
        var pctx = document.getElementById('priceChart').getContext("2d");
        var sctx = document.getElementById('sellChart').getContext("2d");
        var qchart = new Chart(qctx, {
            type: 'line', 
            data: {
                labels:[{% for d in date %}'{{ d }}',{% endfor %}],
                datasets: [{
                    label:'Quantity',
                    data: [{% for q in quantity %}{{ q }},{% endfor %}],
                    backgroundColor: 'rgba(46, 138, 138, 1)'
                }],
            },
            options: {
                scales: {
                    yAxes: [{
                        display: true,
                        ticks: {
                            suggestedMin: 0,
                            callback: function(value) {if (value % 1 === 0) {return value;}}
                        }
                    }]
                }
            }
        });
        var pchart = new Chart(pctx, {
            type: 'line', 
            data: {
                labels:[{% for d in date %}'{{ d }}',{% endfor %}],
                datasets: [{
                    label:'Price',
                    data: [{% for p in price %}{{ p }},{% endfor %}],
                    backgroundColor: 'rgba(103, 210, 150, 1)'
                }]
            }
        });

        var schart = new Chart(sctx, {
            type: 'bar', 
            data: {
                labels:[{% for d in date %}'{{ d }}',{% endfor %}],
                datasets: [{
                    label:'Sell',
                    data: [{% for s in sell %}{{ s }},{% endfor %}],
                    backgroundColor: 'rgba(53, 110, 222, 1)',
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        display: true,
                        ticks: {
                            suggestedMin: 0,
                            callback: function(value) {if (value % 1 === 0) {return value;}}
                        }
                    }]
                }
            }
        });

    </script>
{% endblock %}
